<!DOCTYPE html>

<html>

<head>
    <title>Wheel of Doom!</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/stylesheet.css">
    <link rel="shortcut icon" href="../../assets/images/payasoBanner.jpg">
    

</head>

<body>
        
    <div id="container_box">
        <header>
            <h1> WHEEL OF DOOM</h1>
        </header>
        <nav>
        </nav>
        <section id="content">
            <div class="grid-container">
                <div id="slot1"></div>
                <div id="slot2"></div>
                <div id="slot3"></div>
            </div>
            <div class="btn">
                    <button onclick="conectarPhp()" class="buttonJugar">JUGAR</button>
                    <button onclick="reset()" class="buttonReset">RESET</button>
                </div>
        </section>
        <aside>
            <div class="image-payaso">

            </div>
            <div class="nombre">
                <h2 id="profile">scgbhzghj</h2>
            </div>

        </aside>

        <div>
            <footer>

                <div><img class="image" src="images/banana3.png" alt="Logo" />About Spicy Banana <strong>|</strong> <img
                        class="image" src="images/Community1.png" alt="Logo" />sponsors <strong>|</strong> <img
                        class="image" src="images/developer1.png" alt="Logo" />Developer Team </div>
                <div id="copyleft"><img class="image" src="images/gnu1.png" alt="Logo" />This is FreeSowtware GNU</div>
            </footer>
        </div>

    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="wheel.js"></script>
</body>

</html>